/* Footer Page.php */

.page {
    position: relative;
    padding-bottom: 42rem;
  }
  footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  @media( max-width: 767px ) {
    .page {
      position: relative;
      padding-bottom: 30rem;
    }
  }